@import "frappe/public/scss/desk/variables";

.memo-panel {
	// Panel is closed by default
	--panel-width: 0px;
	--panel-top: calc(var(--navbar-height) + var(--page-head-height));
	--panel-open: 0;

	--transition-timing: 0.2s ease;

	--panel-open-width: 30vw;
	@media (max-width: map-get($grid-breakpoints, "md")) {
		--panel-open-width: 90vw;
	}
}

// Determine whether the page-head is visible or not to adjust the top of the panel.
.page-head[style="top: -15px;"] ~ .page-body .memo-panel {
	--panel-top: calc(var(--navbar-height) + var(--padding-sm));
}

.memo-panel[data-state]:not([data-state="closed"]):not([data-state="empty"]) {
	--panel-open: 1;
	--panel-width: var(--panel-open-width);
}

.memo-panel[data-state="empty"] {
	opacity: 0;
}

.memo-panel[data-loading="true"] .memo-panel__body {
	filter: saturate(0) blur(2px);
	cursor: wait;
	& > * {
		pointer-events: none;
	}
}

.memo-panel__spacer {
	width: var(--panel-width);
	transition: width var(--transition-timing);
}

.memo-panel__body {
	// Never changes width!
	position: fixed;
	width: var(--panel-open-width);
	top: calc(var(--panel-top) + var(--padding-sm));
	bottom: var(--padding-md);
	right: var(--padding-md);
	z-index: 1;

	overflow-y: auto;
	overscroll-behavior: contain;

	padding: var(--padding-md);

	transition: all var(--transition-timing);
	transition-property: transform, top, opacity, filter;
	transform: translateX(calc(
		(var(--panel-open-width) + var(--padding-md) + 6px)
		* (1 - var(--panel-open))
	));

	background-color: var(--card-bg);
	color: var(--text-color);
	border-radius: var(--border-radius-md);
	box-shadow: var(--card-shadow);
}


// Helps avoid open/close flickering when the panel is open in "peek" state.
.memo-panel[data-state="peek"]::before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0px;
	width: 64px;
	height: 100%;
	opacity: 0;
}


.memo-panel-buttons {
	position: fixed;
	z-index: 1;
	top: 50vh;
	transform: translate(calc(-50% * var(--panel-open)), -50%);
	right: var(--panel-width);
	transform-origin: center;

	display: flex;
	flex-direction: column;
	gap: 0px;

	transition: all var(--transition-timing);
	transition-property: transform, right;

	&:not(:has(> :only-child)) {
		// Many buttons, don't center them vertically, bring them to the top
		top: calc(var(--panel-top) + var(--padding-md));
		transform: translate(calc(-50% * var(--panel-open)), 0px);
	}
}

.memo-panel-button {
	background: var(--control-bg);
	color: var(--text-muted);
	--icon-stroke: currentColor;
	font-weight: var(--weight-semibold);
	// box-shadow: var(--shadow-xs);
	border-radius: var(--border-radius) 0 0 var(--border-radius);

	padding: 8px 4px;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 4px;

	// Border highlight
	--border-size: 2px;
	border: var(--border-size) solid transparent;
	border-color: var(--border-color);
	border-right-width: 0px !important;
	margin-left: calc(-1 * var(--border-size));
	margin-bottom: calc(-1 * var(--border-size));
	margin-top: calc(-1 * var(--border-size));

	transition: all var(--transition-timing);
	transition-property: border-color, color, box-shadow, background-color;

	&:hover:not(:active), &:focus-visible {
		border-color: var(--dark-border-color);
		color: var(--text-color);
		// box-shadow: var(--shadow-md);
		background-color: var(--card-bg);
		z-index: 1;
	}

	&[data-current="true"],
	&:active {
		border-color: var(--primary);
		z-index: 2;
	}

	&__label {
		transform: rotate(180deg);
		transform-origin: center;
		writing-mode: vertical-rl;
	}

	&__icon {
		display: grid;
		place-items: center;
		& > * {
			transform: rotate(calc(180deg * var(--panel-open)));
			transform-origin: center;
			transition: transform var(--transition-timing);
		}
	}
}
