:root {
	--primary: #0aa8a7;
	--primary-color: #0aa8a7;
	--secondary: #f0a40e;
	--secondary-color: #f0a40e;
}

/* Hide empty form labels */
.frappe-control .control-label:empty {
	display: none;
}


.toobibpro-icon {
	width: 24px;
	margin-right: 0px;
	margin-top: -3px;
}

.form-dashboard-section.custom {
	padding: 15px 15px;
	background-color: #f0f7f9;
}

.btn-custom_dashboard {
	float: right;
	margin-right: 30px;
	background-color: #cce4ea;
}

.text-muted.small {
	font-size: 11px;
}

.selector-progress {
	margin-bottom: 20px;
}

.selector-progress .fa-fw {
	font-size: 9pt;
}
.selector-progress .fa-fw.active {
	color: #0aa8a7;
}

.appointment-modal {
	opacity: 1 !important;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background-color: #fbfbfb;
	z-index: 30;
	opacity: 0;
	transition: opacity .2s ease;
	border-radius: 4px;
	text-align: center;
}

.appointment-modal {
	padding: 50px 30px;
	position: relative;
}

.appointment-modal-close {
	position: absolute;
	top: 0;
	right: 0;
	padding: 18px;
	transition: opacity .2s ease;
	opacity: 0.7;
	font-size: 25pt;
	cursor: pointer;
}

.appointment-modal-close:hover {
	opacity: 1;
}

.appointment-modal-header {
	min-height: 110px;
}

.appointment-modal-date {
	text-align: center;
	font-size: 34px;
	font-weight: 400;
	margin-top: 50px;
	margin-bottom: 10px;
}

.appointment-modal-title,
.appointment-modal-appointment-type {
	text-align: center;
	font-size: 34px;
	font-weight: 400;
	margin-bottom: 10px;
}

.appointment-modal-time, .appointment-modal-seats-left {
	text-align: center;
	font-size: 17px;
	font-weight: 400;
	margin-bottom: 15px;
	margin-top: 10px;
}

.form-fields {
	max-width: 400px;
	margin: auto;
}

.form-confirmation-container {
	max-width: 600px;
	margin: auto;
}

.form-confirmation {
	transition: box-shadow .2s ease;
	width: 100%;
	padding: 15px 25px;
	margin: 0;
	border: 0 solid #ececec;
	font-size: 1em;
	box-shadow: inset 0 0 1px 1px hsla(0,0%,100%,0);
	text-align: center;
	box-sizing: border-box;
	line-height: 1.5em;
	font-family: Open Sans,Helvetica,Tahoma,Arial,sans-serif;
	color: #333;
	overflow: auto;
	border-bottom: 1px solid #ececec;
	background-color: white;
}

.form-input, .form textarea {
	transition: box-shadow .2s ease;
	width: 100%;
	padding: 15px 25px;
	margin: 0;
	border: 0 solid #ececec;
	font-size: 1em;
	box-shadow: inset 0 0 1px 1px hsla(0,0%,100%,0);
	text-align: left;
	box-sizing: border-box;
	line-height: 1.5em;
	font-family: Open Sans,Helvetica,Tahoma,Arial,sans-serif;
	color: #333;
	overflow: auto;
	border-bottom: 1px solid #ececec;
}

.form-button {
	position: relative;
	transition: background-color .2s,max-width .3s;
	display: inline-block;
	padding: 13px 25px;
	background-color: #0aa8a7;
	text-transform: uppercase;
	box-shadow: 0 1px 3px 0 rgba(0,0,0,.15);
	color: #fff;
	border: 0;
	border-radius: 3px;
	font-size: 0.9em;
	font-weight: 600;
	cursor: pointer;
	height: 44px;
	outline: 0;
	text-align: center;
	max-width: 200px;
	margin: 30px auto;
}

.btn-loading {
	background-color: #7f8c8d;
}

.btn-confirmed {
	background-color: #67cc33;
}

.btn-error {
	background-color: #c0392b;
}


.print-toolbar .btn-print-edit,
.print-toolbar .btn-print-preview,
.print-toolbar .btn[href*="/app/print-settings"] {
	display: none !important;
}

.green-response {
	color: green;
}

.red-response {
	color: red;
}

// Calendar
#practitioner-selector {
	margin-bottom: 3rem;
}

.fc {
	.fc-daygrid-body {
		background-color: var(--bg-color);
	}

	td,
	th {
		border-bottom: none;
	}

	.fc-event {
		transition: color .2s ease, border-color .2s ease, opacity .6s ease, box-shadow .2s ease;
		border: none;
		border-left: 2px solid var(--secondary);
		padding: 3px;
		background-color: white;
		border-radius: 3px;
		color: #333;
		margin: 1px 0;
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
		cursor: pointer;
		margin-bottom: 2px;
		opacity: 1;

		.fc-daygrid-event-dot {
			display: none;
		}
	}

	.fc-event:hover, .fc-event-clicked {
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12);
		border-left: 3px solid #0aa8a7;
		color: #0aa8a7;
		background-color: white;
		font-weight: 600;
		padding-left: 2px;
	}

	.fc-daygrid-event {
		padding: 13px 15px;
		margin: 1px 0 3px;
	}

	.fc-daygrid-event:hover, .fc-daygrid-event-clicked {
		padding-left: 14px;
	}

	.fc-daygrid-event .fc-time {
		font-size: 12px;
		font-weight: 500;
	}

	.fc-daygrid-event .fc-title {
		padding: 0 5px 5px;
		font-size: 12px;
		font-weight: 500;
	}

	.fc-daygrid-event:hover .fc-time, .fc-daygrid-event-clicked .fc-event-time, .fc-daygrid-event:hover .fc-event-title, .fc-daygrid-event-clicked .fc-event-title {
		font-weight: 600;
	}

	.fc-time-grid-event .fc-event-time {
		font-size: 1.1em;
		padding: 5px;
	}

	.fc-time-grid-event .fc-event-title {
		padding: 0 5px 5px;
		font-weight: bold;
	}

	.fc-button-primary {
		background-color: var(--primary) !important;
		border-color: var(--primary) !important;
		color: white !important;
	}

	.fc-button-primary:not(:disabled):active,
	.fc-button-primary:not(:disabled).fc-button-active {
		background-color: #0aa8a7 !important;
		border-color: #0aa8a7 !important;
	}

	.fc-button:not(:disabled):hover,
	.fc-button:active,
	.fc-button:focus {
		background-color: #0aa8a7 !important;
		border-color: #0aa8a7 !important;
		outline: None !important;
	}

	.fc-list {
		border: none !important;
	}

	.fc-list-event {
		display: block;
		transition: color .2s ease, border-color .2s ease, opacity .6s ease, box-shadow .2s ease;
		border: none;
		border-left: 2px solid #939393;
		padding: 3px;
		background-color: #fff;
		border-radius: 3px;
		color: #333;
		margin: 1px 0;
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
		cursor: pointer;
		margin-bottom: 3px;
		font-weight: 500;
		font-size: 12px;

		.fc-list-event-dot {
			display: none;
		}
	}

	.fc-list-event td {
		background: transparent;
		border-color: transparent;
		transform: translateX(0);
		transition: transform .2s ease;
	}

	.fc-list-event:hover td {
		background: transparent !important;
		transform: translateX(2px);
	}

	.fc-list-event .fc-list-event-marker {
		display: none;
	}

	.fc-list-event .fc-list-event-time {
		padding-right: 0px;
		min-width: 110px;
	}

	.fc-list-event .fc-list-event-title a {
		font-weight: 600;
	}

	.fc-unthemed .fc-list-empty {
		background-color: transparent;
	}

	.fc-scrollgrid {
		border-bottom-width: 0;
	}
}

[data-fieldname="billing"] .section-body {
	border-bottom: 1px solid var(--border-color);
	padding: var(--padding-xs);
}

// .new-timeline {
// 	&.centered-timeline {
// 		margin: auto;
// 		display: table;
// 	}
// }

$threshold: 34;

@mixin timeline-badge($badge-size) {
	width: $badge-size;
	height: $badge-size;
	border-radius: 50%;
	font-size: var(--text-xs);
	position: absolute;
	// doing this will prevent cssnano from converting 0px to 0
	// clamp requires value unit to be valid
	--zero-px: 0px;
	top: unquote("clamp(var(--zero-px), 50% - #{$badge-size}/2, max(var(--zero-px), (#{$threshold}px - (50% - #{$badge-size}/2)) * #{$threshold}))");
	left: calc(-1 * (#{$badge-size} / 2));
	left: -17px;
	background-color: white;
	border: 1px solid var(--pacific-blue-400);
	--icon-stroke: var(--pacific-blue-400);
	--icon-fill: var(--pacific-blue-400);
	display: flex;
	justify-content: center;
	align-items: center;
}

.timeline-container {
	.centered-timeline {
		position: relative;

		&::before {
			content: "";
			position: absolute;
			left: 0;
			right: 0;
			margin: auto;
			height: 100%;
			width: 1px;
			background: var(--dark-border-color);
		}

		.timeline-blank {
			width: 50%;
		}

		.timeline-content {
			width: 50%;
			padding-left: 30px;
			box-sizing: border-box;
			position: relative;
		}

		.timeline-item {
			display: flex;
			align-items: center;
			padding-bottom: 2rem;
		}

		.timeline-item.timeline-left .timeline-content {
			padding-right: 30px;
			padding-left: 0;
			text-align: right;
		}

		.timeline-item.timeline-left {
			-webkit-box-orient: horizontal;
			-webkit-box-direction: reverse;
			-ms-flex-direction: row-reverse;
			flex-direction: row-reverse;
			text-align: right;
		}

		.timeline-item.timeline-left {
			.timeline-dot {
				right: -8px;
				left: unset;
			}

			.timeline-badge {
				right: -17px;
				left: unset;
			}
		}

		.timeline-item.timeline-left .timeline-text {
			padding-left: 0;
			padding-right: 30px;
			text-align: right;
		}

		.timeline-dot {
			@include timeline-badge(16px);
			&:before {
				content: ' ';
				background: var(--pacific-blue-400);
				border-radius: 50%;
				height: 4px;
				width: 4px;
			}
		}

		.timeline-badge {
			@include timeline-badge(var(--timeline-item-icon-size))
		}
	}

	@media (max-width: 768px) {
		.centered-timeline {

			&::before {
				right: unset;
				top: 0;
			}

			.timeline-item.timeline-left .timeline-content {
				padding-left: 30px;
				padding-right: 0;
				text-align: left;
			}
			.timeline-item.timeline-left {
				.timeline-dot {
					right: -6px;
					left: unset;
				}

				.timeline-badge {
					left: -16px;
					right: unset;
				}
			}

			.timeline-content {
				width: 100%;
			}

			.timeline-item.timeline-left .timeline-content {
				text-align: left !important;
			}

			.timeline-blank {
				display: none;
			}
		}
	}
}