<script setup>
const props = defineProps({
	label: {
		type: String,
		required: true,
	},
});
</script>

<template>
	<button :title="label" aria-label="label">
		<label class="sr-only">{{ label }}</label>
		<slot />
	</button>
</template>

