<script setup>
import FrappeIcon from "../common/FrappeIcon.vue";

const props = defineProps({
	title: {
		type: String,
		default: "",
	},
	icon: {
		type: String,
		default: "es-line-plus",
	},
	size: {
		type: String,
		default: "md"
	},
	as: {
		type: String,
		default: "button"
	}
});
</script>

<template>
	<component :is="as" class="btn-reset Tb-RoundIconButton" :title="title" aria-label="title">
		<FrappeIcon class="flex" :icon="icon" :size="size" />
	</component>
</template>

<style>
.Tb-RoundIconButton {
	border-radius: 99px;
	--icon-stroke: currentColor;
	padding: 3px;
}
.Tb-RoundIconButton::before {
	content: "";
	display: block;
	position: absolute;
	inset: 0;
	background-color: currentColor;
	border-radius: 99px;
	aspect-ratio: 1;
	opacity: 0.2;
}
.Tb-RoundIconButton > * {
	position: relative;
	z-index: 1;
}
</style>
