<script setup>
import { computed, inject, ref } from "vue";

import MemoIcon from "./MemoIcon.vue";
import MemoSource from "./MemoSource.vue";
import FrappeControl from "../common/FrappeControl.vue";
import { saveToMemoSource } from "./utils";

const props = defineProps({
	modelValue: {
		validator: () => true, // any value
		required: true,
	},
	source: { type: Object, required: false, default: null },
});

const emit = defineEmits(["update:modelValue"]);

const bus = inject("bus");

const isWritable = props.source && !props.source.readOnly;

/** @type {import("vue").Ref<"read" | "write" | "saving">} */
const mode = ref("read");
const editedValue = ref(props.modelValue);

const startEditing = () => {
	editedValue.value = props.modelValue;
	mode.value = "write";
}
const acceptEdit = async () => {
	mode.value = "saving";
	try {
		await saveToMemoSource(props.source, editedValue.value);
		emit("update:modelValue", editedValue.value);
		mode.value = "read";
		bus.emit("memo:source:updated", props.source);
	} catch (e) {
		console.error(e);
		mode.value = "write";
	}
};
const cancelEdit = () => {
	editedValue.value = props.modelValue;
	mode.value = "read";
};

const df = computed(() => {
	if (props.source.df) {
		return props.source.df;
	}
	if (props.source.fieldtype) {
		return { fieldtype: props.source.fieldtype };
	}
	return { fieldtype: "Data" };
})

const formatted = computed(() => {
	return frappe.format(props.modelValue, df.value);
})

const is_formatted_html = computed(() => {
	return ["Text Editor", "Text", "Small Text"].includes(df.fieldtype)
})

const strip_html = (txt) => {
	return String(txt).replace(/<[^>]*>/g, "");
};
</script>

<template>
	<div class="memo-editable">
		<template v-if="mode == 'read' || mode == 'saving' || !isWritable">
			<div class="memo-editable__value">
				<MemoSource :source="source">
					<span v-if="is_formatted_html" v-html="formatted"></span>
					<span v-else-if="!formatted" class="memo-editable__empty-placeholder">
						{{ __("empty") }}
					</span>
					<span v-else>{{ strip_html(formatted) }}</span>
				</MemoSource>
			</div>
			<button v-if="isWritable && mode == 'read'" class="btn-reset memo-editable__button" @click="startEditing">
				<MemoIcon :icon="'edit'" style="--icon-stroke: var(--text-color);" />
			</button>
			<MemoIcon v-if="mode == 'saving'" :icon="'fa fa-spinner'" class="memo-editable__spin" style="--icon-stroke: var(--text-light);" />
		</template>
		<template v-else>
			<FrappeControl class="memo-editable__input" v-model="editedValue" :df="df" />
			<button class="btn-reset" @click="acceptEdit">
				<MemoIcon :icon="'es-line-check'" style="--icon-stroke: var(--alert-text-success);" />
			</button>
			<button class="btn-reset" @click="cancelEdit">
				<MemoIcon :icon="'es-line-close'" style="--icon-stroke: var(--alert-text-danger);" />
			</button>
		</template>
	</div>
</template>

<style>
.memo-editable {
	display: flex;
	align-items: center;
	gap: var(--padding-sm);
}
.memo-editable > .memo-editable__value {
	flex: 1;
}
.memo-editable > .memo-editable__input {
	flex: 1;
}

.memo-editable__button {
	opacity: 0;
	transform: scale(0.8);
	transition: opacity 0.2s ease, transform 0.2s ease;
}
.memo-root:hover .memo-editable__button {
	opacity: 0.2;
}
:is(.memo-item:hover, .memo-editable:hover) .memo-editable__button {
	opacity: 1;
}
.memo-editable__button:hover {
	transform: scale(1);
}

@keyframes memo-spin {
	to {
		transform: rotate(360deg);
	}
}
.memo-editable__spin {
	animation: 0.75s linear infinite memo-spin;
}

.memo-editable__empty-placeholder {
	color: var(--text-light) !important;
	font-weight: var(--weight-medium) !important;
	font-style: italic !important;
	font-size: var(--text-tiny) !important;
	text-transform: capitalize;
}

.memo-editable .memo-editable__input {
	margin-top: -4px;
	margin-bottom: -4px;
	margin-left: -8px;
}
.memo-editable .memo-editable__input :is(.frappe-control, .form-control) {
	font: inherit !important;
	font-weight: inherit !important;
}
.memo-editable .memo-editable__input .form-control {
	padding-top: 4px;
	padding-bottom: 4px;
	--input-height: 100% !important;
	border: none !important;
	box-shadow: var(--shadow-inset) !important;
}
/* .memo-editable .memo-editable__input .select-icon {
	top: 0px !important;
	bottom: 0px !important;
	right: 5px !important;
} */
</style>
