<script setup>
import { provide } from "vue";
import MemoItem from "./MemoItem.vue";

const props = defineProps({ items: { type: Array, required: true } })

provide("size", "large");
</script>

<template>
	<div class="memo-recap">
		<MemoItem :item="item" v-for="(item, index) in items ?? []" :key="index" />
	</div>
</template>

<style>
.memo-recap {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
	gap: var(--padding-lg);

	padding-bottom: var(--padding-lg);
}
</style>
