<script setup>
import MemoEditableSource from './MemoEditableSource.vue';

const props = defineProps({ item: { type: Object, required: true }})
</script>

<template>
	<table class="memo-item--table table">
		<caption class="memo__label">{{ item.label }}</caption>
		<thead>
			<tr>
				<th v-for="col in item.headers" :key="col.fieldname">{{ col.label }}</th>
			</tr>
		</thead>
		<tbody>
			<tr v-for="(row, index) in item.rows" :key="index">
				<td v-for="col in item.headers" :key="col.fieldname">
					<MemoEditableSource
						v-if="row[col.fieldname]?.['@source']"
						:modelValue="row[col.fieldname]?.['@value']"
						:source="row[col.fieldname]?.['@source']"
					/>
					<template v-else>
						{{ row[col.fieldname] }}
					</template>
				</td>
			</tr>
		</tbody>
	</table>
</template>

<style>
.memo-item--table.table {
	margin: 0;
	padding: 0;
}
.memo-item--table > caption {
	padding: 0;
	padding-bottom: var(--padding-sm);
	caption-side: top;
}
</style>