<script setup>
import { computed, ref, watch } from "vue";
import { CollapsibleContent, CollapsibleRoot, CollapsibleTrigger } from "radix-vue";

import MemoIcon from "./MemoIcon.vue";
import MemoItem from "./MemoItem.vue";

const props = defineProps({ item: { type: Object, required: true } })

const isOpen = ref(true);

// save the state of the collapsible in session storage
const storageKey = `memo-item-section-${props.item.label}`;
isOpen.value = sessionStorage.getItem(storageKey) !== "0";
watch(() => isOpen.value, (value) => {
	sessionStorage.setItem(storageKey, value ? "1" : "0");
});

const isEmpty = computed(() => {
	return !props.item.children?.length;
});

const icon = computed(() => {
	if (isEmpty.value) {
		return "es-line-dot";
	} else if (isOpen.value) {
		return "es-line-dash";
	} else {
		return "es-line-add";
	}
});
</script>

<template>
	<CollapsibleRoot class="memo-item--section" :class="{'memo-item--section--empty': isEmpty}" v-model:open="isOpen">
		<CollapsibleTrigger v-if="item.label" class="memo-item--section__title btn-reset">
			<div>{{ item.label }}</div>
			<MemoIcon :icon="icon" />
		</CollapsibleTrigger>

		<CollapsibleContent class="memo-item--section__children">
			<MemoItem v-for="(item, index) in item.children" :key="index" :item="item" />
		</CollapsibleContent>
	</CollapsibleRoot>
</template>

<style lang="scss">
.memo-item--section {
	margin-bottom: var(--padding-lg);
	border-radius: var(--border-radius);
	position: relative;

	&--empty {
		opacity: 0.4;
		pointer-events: none;
	}

	&__title {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		user-select: none;

		border-radius: inherit;
		padding: 3px var(--padding-sm);
		font-weight: var(--weight-semibold);
		background: var(--bg-color);

		&:hover {
			box-shadow: var(--shadow-xs);
		}

		& > .memo-icon {
			transition: transform 0.2s ease;
		}
		&[aria-expanded="false"] > .memo-icon {
			transform: rotate(90deg);
		}
	}

	&__children {
		display: flex;
		flex-direction: column;
		padding: var(--padding-sm);
		gap: var(--padding-sm);

		border-radius: inherit;

		// Décoration
		// &::before, &::after {
		// 	content: "";
		// 	position: absolute;
		// 	z-index: -1;
		// 	background: var(--primary);
		// 	opacity: 0.4;
		// }
		// &::before {
		// 	top: 14px;
		// 	bottom: var(--padding-sm);
		// 	left: calc(-1 * var(--padding-sm));
		// 	width: 2px;
		// }
		// &::after {
		// 	top: 14px;
		// 	left: calc(-1 * var(--padding-sm) + 2px);
		// 	right: 0px;
		// 	height: 2px;
		// }
	}
}
</style>