<script setup>
import { computed } from "vue";

const props = defineProps({
	source: { type: Object, required: false, default: null },
});

const attrs = computed(() => {
	if (props.source) {
		let { doctype, name } = props.source;
		if (props.source.parent && props.source.parenttype) {
			doctype = props.source.parenttype;
			name = props.source.parent;
		}
		if (doctype && name) {
			// Link to form
			const href = frappe.utils.get_form_link(doctype, name);

			if (window.location.pathname === href) {
				return null; // Link to current page
			}

			return {
				href: href,
				// Preview popup
				"data-doctype": doctype,
				"data-name": name,
				class: "memo-source",
			};
		}
	}
});
</script>

<template>
	<a v-if="attrs" v-bind="{ ...$attrs, ...attrs }">
		<slot />
	</a>
	<slot v-else v-bind="$attrs" />
</template>

<style>
a.memo-source {
	text-underline-position: under;
}

.memo-item:hover a.memo-source:not(:hover),
.memo-editable:hover a.memo-source:not(:hover) {
	text-decoration-style: dashed;
	text-decoration-line: underline;
}

a.memo-source:hover {
	text-decoration: solid underline !important;
}
</style>
