<script setup>
// @ts-check
import InputAutosize from "../common/InputAutosize.vue";
import PrBuQuantityInput from "./PrBuQuantityInput.vue";
import { pl } from "./utils";

/** @type {{ readonly row: import('./utils').MedicationRow }} */
const props = defineProps({
	row: {
		type: Object,
		required: true,
	},
});
</script>

<template>
	<div class="PrBuMedicationSchedule">
		<div role="group">
			<label class="sr-only">Dose</label>
			<PrBuQuantityInput v-model="row.dosage_dose" label="Quantité" />
			&nbsp;<InputAutosize v-model="row.dosage_dose_unit" input-as="select" label="Forme" :style="{ opacity: row.dosage_dose_unit ? 1 : 0.5 }">
				<option disabled value="">Forme…</option>
				<template v-for="v in ['comprimé', 'sachet']">
					<option :value="v">{{ pl(row.dosage_dose, v) }}</option>
				</template>
			</InputAutosize>,&nbsp;
		</div>

		<div role="group">
			<label class="sr-only">Fréquence</label>
			<PrBuQuantityInput v-model="row.occurrence_frequency" label="Fréquence" />
			&nbsp;{{ row.occurrence_period == 1 ? 'fois par' : 'fois toutes les' }}&nbsp;
		</div>

		<div role="group">
			<label class="sr-only">Période de répétition</label>
			<PrBuQuantityInput v-model="row.occurrence_period" label="Période" />
			&nbsp;<InputAutosize v-model="row.occurrence_period_unit" input-as="select" label="Période">
				<option disabled value="">Période…</option>
				<template v-for="v in ['minute', 'hour', 'day', 'week', 'month']">
					<option :value="v">{{ pl(row.occurrence_period, v) }}</option>
				</template>
			</InputAutosize>
			&nbsp;<InputAutosize v-model="row.occurrence_text" label="Recommandations de prise" />
		</div>

		<!-- <div role="group">
			<InputAutosize v-model="row.dosage_route" />
			<InputAutosize v-model="row.dosage_method" />
		</div> -->

		<div role="group">
			<label class="sr-only">Durée du traitement</label>
			<span aria-hidden="true">pendant&nbsp;</span>
			<PrBuQuantityInput v-model="row.plan_duration" label="Période" />
			&nbsp;<InputAutosize v-model="row.plan_duration_unit" input-as="select" label="Période">
				<option disabled value="">Période…</option>
				<template v-for="v in ['hour', 'day', 'week', 'month']">
					<option :value="v">{{ pl(row.plan_duration, v) }}</option>
				</template>
			</InputAutosize>
		</div>

		<!-- <button class="btn-reset btn-link"><FrappeIcon icon="edit" size="sm" /></button> -->
	</div>
</template>

<style>
.PrBuMedicationSchedule {
	display: flex;
	flex-wrap: wrap;
	gap: 0px;
}
.PrBuMedicationSchedule > [role="group"] {
	display: flex;
	flex-wrap: wrap;
	gap: 0px;
}
.PrBuMedicationSchedule > [role="group"] > * {
	cursor: pointer;
}
</style>