<script setup>
// @ts-check
import RoundIconButton from "../common/RoundIconButton.vue";
import PrBuMedicationSchedule from "./PrBuMedicationSchedule.vue";
import { useStore } from "./store";
import { pl } from "./utils";

/** @type {{ row: import("./utils").MedicationRow }} */
const props = defineProps({ row: Object });
const store = useStore();

const deleteRow = () => {
	store.deleteRow(props.row);
};
</script>

<template>
	<div class="PrBuRow">
		<div class="PrBuRow--title">
			{{ row.medication_text }}
		</div>

		<div class="PrBuRow--subtitle">
			<PrBuMedicationSchedule :row="row" />
		</div>

		<div class="PrBuRow--badges">
			<!-- <div class="indicator-pill cyan">Traitement chronique</div> -->
			<div class="indicator-pill orange">Allergie</div>
		</div>

		<div class="PrBuRow--buttons-top">
			<RoundIconButton class="PrBuRow--delete" :title="__('Delete')" size="xs" icon="es-line-close" @click="deleteRow" />
		</div>

		<div class="PrBuRow--medication-code">
			<div class="text-muted text-small">QSP {{ row.plan_duration }} {{ pl(row.plan_duration, row.plan_duration_unit) }}</div>
			<div class="text-muted text-small">CIP&thinsp;: {{ row.medication_code }}</div>
		</div>
	</div>
</template>

<style>
.PrBuRow {
	background-color: var(--subtle-fg);
	padding: var(--padding-md);
	border-radius: var(--border-radius-lg);
	color: var(--text-color);
	position: relative;
}

.PrBuRow--title {
	font-weight: bold;
	font-size: 1.3em;
}

.PrBuRow--subtitle {
	font-size: 1em;
}

.PrBuRow--badges {
	display: flex;
	align-items: center;
	gap: var(--padding-xs);
	margin-top: var(--padding-xs);
}

.PrBuRow--buttons-top {
	position: absolute;
	--offset: calc(var(--padding-md) / 2);
	right: var(--offset);
	top: var(--offset);
	display: flex;
	align-items: center;
	gap: var(--padding-xs);
}

.PrBuRow:hover .-input {
	text-decoration: underline;
}

.PrBuRow--medication-code {
	/* position: absolute;
	--offset: calc(var(--padding-md) / 2);
	right: var(--offset);
	bottom: var(--offset); */
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	gap: 0px;
}

</style>
