<script setup>
import PrBuRow from "./PrBuRow.vue";
import PrBuAlert from "./PrBuAlert.vue";
import { useStore } from "./store";
import { computed } from "vue";

const store = useStore();

const reminders = computed(() => {
	return store.rows?.length && [
		{
			type: "danger",
			title: "Contre-indications et allergies",
			// count: 1,
			body: "pénicillines (amoxicilline)",
			// details: ["amoxicilline", "pénicillines"],
		}
	].filter(Boolean);
})
</script>

<template>
	<aside class="PrBuBody--reminders" v-if="reminders?.length">
		<template v-for="rem in reminders">
			<PrBuAlert :type="rem.type" :title="rem.title" :count="rem.count">
				{{ rem.body }}

				<template #details v-if="rem.details">
					<ul>
						<li v-for="detail in rem.details">{{ detail }}</li>
					</ul>
				</template>
			</PrBuAlert>
		</template>
	</aside>

	<template v-if="!store.rows?.length">
		<div class="PrBuRow">
			Cliquez sur un médicament dans la liste de gauche pour l'ajouter dans la liste.
		</div>
	</template>

	<ul class="PrBuBody--rows list-unstyled">
		<template v-for="row in store.rows">
			<li>
				<PrBuRow :row="row" />
			</li>
		</template>
	</ul>
</template>

<style>
.PrBuBody--reminders {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
	gap: var(--padding-lg);

	margin-bottom: var(--padding-lg);
}

.PrBuBody--rows {
	display: flex;
	flex-direction: column;
	gap: var(--padding-lg);
}
</style>
