<script setup>
import { inject, reactive } from "vue";
import PrBuBody from "./PrBuBody.vue";
import { useStore } from "./store";
import PrBuPicker from './PrBuPicker.vue'
import PrBuMedicationSchedule from "./PrBuMedicationSchedule.vue";

const store = useStore();
const bus = inject("bus");
const initialState = inject("initialState", {});

store.$patch((state) => {
	Object.assign(state, initialState);
});

store.$subscribe(frappe.utils.throttle((mutation, state) => {
	bus.emit("save", state);
}));
</script>

<template>
	<section class="PrescriptionBuilder">
		<div class="PrBu--sidebar">
			<PrBuPicker />
		</div>

		<div class="PrBu--body">
			<PrBuBody />
		</div>
	</section>
</template>

<style>
.PrescriptionBuilder {
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: 1fr 2fr;
	grid-template-areas: "picker body";
	min-height: 70vh;
}

.PrescriptionBuilder > .PrBu--sidebar {
	background: var(--bg-color);
	border-radius: var(--border-radius-lg);
	grid-area: picker;
	display: flex;
	flex-direction: column;
	gap: var(--padding-md);
	z-index: 2;
}

.PrescriptionBuilder > .PrBu--body {
	padding: var(--padding-md);
	padding-top: 0px;
	padding-bottom: var(--padding-md);
	grid-area: body;
}
</style>
